{% include 'admin/cabecera.html'%}
<br>
<div class="container">
    <div class="row">
        <div class="col-md-5">
            <div class="card">
                <div class="card-header">Datos del libro</div>
                <div class="card-body">
                    <form action="">
                        <div class="mb-3">
                            <label for="txtNombre" class="form-label">Nombre del libro</label>
                            <input type="text" class="form-control" name="txtNombre" id="txtNombre"
                                aria-describedby="helpId" placeholder="Escriba nombre del libro" />

                        </div>
                        <div class="mb-3">
                            <label for="txtImagen" class="form-label">Imagen</label>
                            <input type="text" class="form-control" name="txtImagen" id="txtImagen"
                                aria-describedby="helpId" placeholder="Seleccione la Imagen" />

                        </div>
                        <div class="mb-3">
                            <label for="txtURLdescarga" class="form-label">URL de descarga</label>
                            <input type="text" class="form-control" name="txtURLdescarga" id="txtURLdescarga"
                                aria-describedby="helpId" placeholder="Escriba la URL de descarga" />

                        </div>
                        <button type="submit" class="btn btn-primary">
                            Agregar
                        </button>

                    </form>
                </div>
                <div class="card-footer text-muted">Footer</div>
            </div>
        </div>
        <div class="col-md-7">

        </div>

    </div>
</div>




{% include 'admin/pie.html'%}